[Unit]
Description=Doorduino
After=network.target

[Service]
Type=idle
Restart=on-failure
User=root
WorkingDirectory=/root/bitlair_doorduino/pi-config
ExecStart=/usr/bin/python3 -u doorduino.py -c config

[Install]
WantedBy=multi-user.target